.App {
   font-family: 'Source Sans Pro',Tahoma,Geneva;
    text-align: center;
  }
  
  
  body{
    margin:0;
    padding: 0;
    font-family: 'Source Sans Pro',Tahoma,Geneva;
  }
  .center{
    text-align: center;
  }
  a{
    text-decoration: none;
  }
  .pryTxtColor{
   color:  #5a5a5a
  }
  a,h1,h2,h3,h4,h5,h6{
    color: #5a5a5a;
  }
  .MuiOutlinedInput-notchedOutline{
    border: 1px solid #d7dde2;
  }